h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

pre {
	max-width: 900px;
	white-space: pre-wrap;
}

pre.implementation {
	background: #F5F4DD;
	max-height: 400px;
    overflow: auto;
}

.drawing {
	height: 250px;
}

table.algorithm {
	padding:    10px;
}
.label {
	font-weight: bold;
}

ol.exhibit-tileView-body {
	list-style: none;
}

div.exhibit-cloudFacet-body {
	overflow: auto;
	height: 200px;
	border: 1px solid #DDDDDD;
}
